/**cta banner**/
/* Style for the CTA Banner */
.cta-banner {
    background-color: #ad680f; /* Brownish yellow background, you can change to any color */
    color: white;
    padding: 15px 15px;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: medium;
    position: relative;
    z-index:10;
}

.cta-banner .material-icons{
    color : white;
}

.cta-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; /* Center align the content */
}



.cta-left {
    text-align: left;
}

.cta-right a {
    text-decoration: none;
    font-weight: bold;
}

.cta-right a:hover {
    text-decoration: underline;
}


  