/* Style for the services section */
.service-section {
    position: relative;
    width: 100%;
    backface-visibility: 75%;
    background: white; /* Gradient from yellow to dark yellow/gold */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    color: white; /* Text color */
    padding-top:5vw;
    padding-bottom:10%;
  }

 .services-grid{
  display: flex;
 }

  .service-section h2{
    text-align: center;
    padding-top:20px;

  }

  .service-section .service-content{
    margin-bottom: 5%;
    padding-bottom: 10%;
    border-bottom: 2px solid rgb(201, 197, 197);
  }

  .service-section h3{
    text-align: center;
    line-height: 1.7;
    margin-bottom:12px;
  }

  .service-section p{
    font-size: clamp(12px, 1.5vw, 16px); /* Scales from 14px to 18px */
   
  }

  .service-image-container{
    display:flex;
  }

  .service-image .service-images-title{
    position: absolute;
    background-color: white;
    color:#3b424e;
    padding:5px;
    bottom:0;
    left: 0;
  }

    /* Image styling (right side) */
    .service-section  .service-image {
      position: relative;
      width: 50%;
      height: 30vh;
      margin-bottom: 5%;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
    }

    .service-section video {
      position: relative;
      width: 100%;
      height: auto;
      margin-bottom: 5%;
      object-fit: cover; /* Ensures the video fills its container neatly */
      border-radius: 10px;

    }

    .roof-before{
      border-right: 2px solid #D2851F;
      background-image: url('../images/roof-before.jpg'); /* Replace with your image URL */
    }
    .roof-after{
      border-left: 2px solid #D2851F;
      background-image: url('../images/roof-after.jpg'); /* Replace with your image URL */
    }

    .patio-before{
      border-right: 2px solid #D2851F;
      background-image: url('../images/patio-before.jpg'); /* Replace with your image URL */
    }
    .patio-after{
      border-left: 2px solid #D2851F;
      background-image: url('../images/patio-after.jpg'); /* Replace with your image URL */
    }

    .render-before{
      border-right: 2px solid #D2851F;
      background-image: url('../images/render-before.jpg'); /* Replace with your image URL */
    }
    .render-after{
      border-left: 2px solid #D2851F;
      background-image: url('../images/render-after.jpg'); /* Replace with your image URL */
    }

    .gutter-before{
      border-right: 2px solid #D2851F;
      background-image: url('../images/Hero-Small-Img.jpg'); /* Replace with your image URL */
    }
    .gutter-after{
      background-image: url('../images/Hero-Small-Img.jpg'); /* Replace with your image URL */
    }

  .service-section p{
    padding-left:10%;
    padding-right:10%;
  }
  .service-section .readmore{
    padding-top: 5%;
  }
  .service-section .readmore a{
    border: 5px solid rgb(206, 203, 203);
    text-decoration: none;
    color:rgb(159, 153, 153);
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1rem;

  }

  .service-section .readmore:hover a{
    color:#D2851F;
    border-color: #D2851F;
  }

  /* Container to limit the width of the content */
  .service-container {
    position: relative;
    z-index: 2; /* Ensures the text stays above the background */
    width: 100%;
    margin: 0 auto; /* Center the content horizontally */
  }

