/* Container for the section */
.about-section {
    padding-bottom: 10%;
    margin-bottom: 10%s;
    width: 100%;
    background-color: #f4f4f4;
    position:relative;
    height: 30vw;
    min-height: 500px;
  }
  
 
  /* Style for text content (left side) */
  .text-content {
    text-align: left;
    height: 100%; /* Ensure the container has a height */
    width: 50vw;
    padding-top: 20vh;
    padding-right: 10%;
  }
  
  /* Title styling */
  .sub-services{
    font-size: 16px;
    font-weight: bold;
    color: rgb(183, 179, 179);
  }
  
  /* Body text styling */
  .text-content p {
    color: #666;
  }
  
  /* Call to action button styling */
  .cta-button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #233F63;
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color 0.3s;
    margin-bottom:10%;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  /* Image styling (right side) */
  .image-content{
    padding-top: 10vh;
  }
  
  .image-content img{
    width: 70%;
    height: auto;
    padding:0
  }
  
  .about-grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 3 equal-width columns */
  }

  .about-grid-item {
      text-align: left;
      color: white;
      width: 100%;
  }

  @media (min-width: 1200px){
    .text-content h1 {
      margin-top:0;
      font-size: 2.5rem;
    }
  }

  @media (max-width: 1200px){
    .text-content {
      padding-top: 10vh;
    }
  }

  @media (max-width: 768px){
    .about-grid-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr); /* 3 equal-width columns */
  }
  .text-content{
    padding-right: 0;
    padding-top: 10vw;
  }
  .about-section {
    height: auto;
    max-height: 1000px;
  }
  .image-content{
   padding: 0;
  }
    .image-content img{
      width: 100%;
      height: auto;
      padding:0;


    }
  }

  
 