.contact-us-section{
    background-color: #233F63;
    color : #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 equal-width columns */
    gap: 0px; /* Optional spacing between grid items */
    width: 100%;
}

.contact-us-container{
    width: 100%;
    padding: 20%;
}

.contact-us-container h2{
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}

.contact-us-container .info-group{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 16px;
}

.contact-us-container .info-group label{
    color : #ffab3d;
}
.contact-us-container .info-group span{
    color:#fff;
    font-weight: 500;
    margin-left: 16px;
}



.map-container {
    width: 100%;
 }

 .map-container iframe{
    width: 100%;
    height: 100%;
 }

 @media (max-width:480px) {
    .contact-us-section{
        grid-template-columns: repeat(1, 1fr); /* 3 equal-width columns */
    }

    .contact-us-container{
        padding: 10%;
    }
 }


