.contact-us-section{
    background-color: #233F63;
    color : #fff;
}

.contact-us-container{
    padding: 10%;
}

.contact-us-container h2{
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}

.contact-us-container .info-group{
    margin-top: 16px;
    margin-left:5px;
    margin-bottom: 16px;
    font-size: 16px;
}

.contact-us-container .info-group label{
    color : #ffab3d;
}
.contact-us-container .info-group span{
    color:#fff;
    font-weight: 500;
    margin-left: 16px;
}



.get-intouch-container h2{
    margin-bottom: 20px;
}


.get-intouch-container {
    display: none;
    background-color: rgb(240, 240, 240);
    color:#233F63;
    margin-top:16px;
    border: none;
    border-radius: 2px;
    padding:10%;
    width: 100%;
 }

 .get-intouch-container .input-group{
    margin-bottom:24px;
 }

 .get-intouch-container label{
   font-size: 16px;
   font-weight: 500;
 }
 .get-intouch-container input{
    margin-top:16px;
    display: block;
    border: none;
    border-radius: 2px;
    padding:12px 12px;
    width: 100%;
 }

 .get-intouch-container textarea{
    margin-top:16px;
    display: block;
    border: none;
    border-radius: 2px;
    padding:12px 12px;
    width: 100%;
    height: 8rem;
 }

 .get-intouch-container .btn-submit{
    background-color: #233F63; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 }

