/****Heror Section****/

.hero-section {
   /** background-color: #2C271F;**/
    z-index: 1;
    position:relative;
    top:0vh;
    height: 50vh;
  }
  
  .hero-image img {
    z-index: 1;
    overflow: hidden;
      width: 100%;
      height: auto;
  }
 .hero-image{
  display:relative;
 }

 .hero-before-image{
  position:absolute;
  top:-95%;
  z-index:30;
  
 }

 .hero-before-image img{
  border-radius:50%;
  border:5px solid #734303;
  width: 70%;
  height: 70%;
  z-index:50;
 
 }

.hero-content{
  padding:0;
}
.hero-overlay {
  position: sticky;
  top: 60vh;
  left: 7.5%;/* Changed from right to left */
  width:40vw;/* Keep this width for the box */
  min-width: 300px;
  color: #fff;
  background-color: #ad680f;
  z-index: 10;
  animation: slideInOverlay 0.5s ease-out forwards;
  animation-delay: 0.5s; /* Delay to stagger the animation */
  padding-left:15%;
  padding-right:2%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.hero-overlay::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 80%, 100% 100%, 0% 100%); /* Triangle shape */
  background-color: #A76916;
  transform: translateY(-100%); /* Move above the square */
}

  .hero-title {
    padding:0;
    margin-bottom: 15px;
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 1s; /* Delay to stagger the animation */
  }
  
  .hero-subtitle {
    font-size:clamp(1rem,4vw,1.2rem); 
    word-spacing: 0.1rem;
    line-height: 1.5;
    color: #fbd5a3;
    animation: slideInLeft 1.5s ease-out forwards;
    animation-delay: 1.5s; /* Delay to stagger the animation */
    font-weight: 600;
  }


  .sticky-container{
    position:relative;
    top:-40vw;
    height: 45vw;
    width: 50%;
    z-index:0;
  }


  /* For very large screens (e.g., 1600px and beyond) */
  @media (orientation: landscape) and (min-width: 1200px){
    .hero-section {
      height: 60vw;
    }
  }



@media (min-width: 768px) and (max-width: 1200px){
  .hero-section {
    display: block;
  }

 
}

@media (orientation: portrait) and (max-width: 1024px){
  .hero-section {
    height: 700px;
    top:0vh;
  }

  .hero-before-image{
    position:absolute;
    top:-170px;
    z-index:30;
    
   }

}

@media (orientation: landscape) and  (max-width:1024px){
  .hero-section {
    height: 700px;
    top:0;
  }

  .hero-before-image{
    position:absolute;
    top:-150px;
    z-index:30;
    
   }
}

@media (orientation: portrait) and (max-width: 820px){
  .hero-section {
    height: 600px;
  }

  .hero-before-image{
    position:absolute;
    top:-170px;
    z-index:30;
    
   }

}



@media (orientation: portrait) and  (max-width: 480px){
  .hero-section {
    height: 600px;
    top:0;
  }
}









