/****Heror Section****/

.hero-section {
   /** background-color: #2C271F;**/
    z-index: 1;
    background-color: #2C271F;
    position:relative;
  }
  
  .hero-image img {
    width: 100%;
    z-index: 1;
  }
 .hero-image{
  display:relative;
 }

  /* Keyframe animation */
@keyframes slideInLeft {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 100%;
  }
}

  /* Keyframe animation */
  @keyframes slideInOverlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 75%;
    }
  }

  /* Header and Subtitle */
  .hero-title, .hero-overlay .hero-subtitle {
    opacity: 0; /* Ensure text starts invisible */
}

.hero-overlay {
  opacity: 0; /* Ensure text starts invisible */
  animation: slideInOverlay 0.5s ease-out forwards;
}
.hero-content{
  padding:0;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0; /* Changed from right to left */
  width: 100%; /* Keep this width for the box */
  color: #fff;
  background-color: #2C271F;
  z-index: 10;
  animation: slideInOverlay 0.5s ease-out forwards;
  animation-delay: 0.5s; /* Delay to stagger the animation */
 
}
  .hero-title {
      font-size: calc(16px + 2vw);
    padding:0;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 1s; /* Delay to stagger the animation */
  }
  
  .hero-subtitle {
    font-size: 14px;
    line-height: 1.5;
    color: #fcb252;
    font-weight: bold;
    animation: slideInLeft 1.5s ease-out forwards;
    animation-delay: 1.5s; /* Delay to stagger the animation */
 
  }


  /* For very large screens (e.g., 1600px and beyond) */

  @media (min-width: 1200px){
    .hero-section {
      display: block;
    }

   .hero-overlay {
     width: 50%;
     display: flex;
     align-items: center;
      height: 50vw;
      max-height: 500px;
      min-height: 350px;
   }

    .hero-image img {
     width: 100%;
     height: auto;
  
   }
  }



@media (min-width: 768px) and (max-width: 1200px){
  .hero-section {
    display: block;
  }

  .hero-overlay {
    width: 50%;
    display: flex;
    align-items: center;
     height: 40vw;
     max-height: 400px;
     min-height: 300px;
  }
 .hero-subtitle {
  font-size: 16px;
 }
  .hero-image img {
   width: 100%;
   height: auto;

 }
}

@media  (max-width: 767px){
  .hero-section {
    display: block;
  }

  .hero-overlay {
    width: 100%;
    display: flex;
    align-items: center;
     height: 80vw;
     max-height: 400px;
     min-height: 300px;
  }

  .hero-image img {
    position: relative;
    width: 100%;
   height: auto;
   background-position: center;
   background-size: cover;

 }
}



