/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #A76916;
  position: relative;
  z-index: 10;

  padding-top: 20px;
  padding-bottom: 20px;
}

/* Logo Styles */
.navbar .logo img {
  z-index: 40;
  width: 100px;
  height: auto;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  color:#A76916;
  font-size: clamp(14px, 1.5vw, 18px);
  letter-spacing: 0.2px;
    margin-bottom: 1em;
    line-height: 1.6;
    font-weight: 600;
    padding: 10px;
}

.nav-links .cta-nav{
 color: #fff;
 padding:7px 14px;
 background-color: #233F63;
 border-radius: 2px;
}

/* Hamburger Wrapper - Creates space around the hamburger icon */
.hamburger-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;  /* Adds space between the hamburger icon and the border */
  border-radius: 2px;  /* Optional: rounded corners for the container */
  cursor: pointer;
  transition: box-shadow 0.3s ease;  /* Smooth transition for box-shadow */
}

/* Hamburger Styles */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: transparent;  /* Remove background to see border clearly */
}

/* Hamburger Bars */
.hamburger .bar {
  width: 30px;
  height: 4px;
  background-color: #A76916;
  border-radius: 2px;
}

.toggle-menu{
  display: none;
}


@media (min-width: 1200px)  {
  .navbar .logo img {
    width: 200px;
    height: auto;
  }
}
/* Mobile Styles (for screen sizes 768px and below) */
@media screen and (max-width: 750px) {
  .nav-links {
      position: absolute;
      top: 80px;
      right: 0;
      font-weight: bold;
      background-color: #fff;
      width: 100%;
      height: 60vh;
      flex-direction: column;
      justify-content: top;
      align-items: center;
      display: none;
      z-index: 5;
      padding: 10%;
  }

  .nav-links li{
    padding-top: 5%;
  }

  .toggle-menu{
    display: none;
  }

 
  /* Show hamburger menu */
  .hamburger-wrapper {
      display: flex;
  }

  /* Hover effect with box-shadow */
  .hamburger-wrapper:hover {
      box-shadow: 0 0 0 2px #A76916;  /* Creates space around the hamburger */
  }

  /* When the checkbox is checked, show the nav links */
  .toggle-menu:checked + .hamburger-wrapper + .nav-links {
      display: flex;
  }
}

@media (min-width: 750px)  {
  .hamburger{
    display:none;
  }

  .navbar .logo img {
    width: 120px;
    height: auto;
  }
}