/* Style for the services section */
.service-section {
    position: relative;
    width: 100%;
    background: #fff; /* Gradient from yellow to dark yellow/gold */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    color: black; /* Text color */
    padding-top:10%;
    padding-bottom:10%;
  }

  .service-section h2{
    text-align: center;
    font-size: 24px;
    line-height: 1.7;
  }

  .service-section .service-content{
    margin-bottom: 10%;;
  }

  .service-section h3{
    text-align: center;
    line-height: 1.7;
    padding-top:24px;
    margin-bottom:12px;
  }

    /* Image styling (right side) */
    .service-section  .service-image {
      position: relative;
      width: 100%;
      height: 30vh;
      background-image: url('AboutSection.jpg'); /* Replace with your image URL */
      background-size: contain;
      margin-bottom: 5%;
    }

  .service-section p{
    color: #333;
    padding-left:10%;
    padding-right:10%;
    line-height: 1.7;
  }
  .service-section .readmore{
    padding-top: 5%;
    padding-left: 10%;
  }
  .service-section .readmore a{
    border: 5px solid rgb(206, 203, 203);
    text-decoration: none;
    color:rgb(159, 153, 153);
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1rem;

  }

  .service-section .readmore:hover a{
    color:#D2851F;
    border-color: #D2851F;
  }

  /* Container to limit the width of the content */
  .service-container {
    position: relative;
    z-index: 2; /* Ensures the text stays above the background */
    width: 100%;
    margin: 0 auto; /* Center the content horizontally */
  }