/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

.container{
    padding-left: 7.5%;
    padding-right: 5%;
}


.grid-container {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 equal-width columns */
    gap: 20px; /* Optional spacing between grid items */
    width: 100%; /* Ensure the grid spans the full parent width */
}

.grid-item {
    
    background-color: #f1f3f5;
    border-radius: 2px;
    padding-bottom: 20px;
    text-align: center;
    color:rgb(36, 56, 74);
    padding:20px;
}


h1{
    font-size:clamp(2rem,4vw,5rem); 
    word-spacing: 0.5rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
        font-family: 'Arial Narrow', Arial, sans-serif;

}
h2 {
    font-size: clamp(1.5rem,2vw,3rem); 
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 16px;
    color: #233F63;
}

h3 {
    font-size: clamp(1rem,2vw,1.2rem); 
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 16px;
    color: #233F63;
}

p {
    font-size: clamp(14px, 1.5vw, 18px); /* Scales from 14px to 18px */
    line-height: 1.6;
    margin-bottom: 1em;
    letter-spacing: 0.2px; /* Optional: Slight spacing for readability */
    color: #333; /* Ensure good contrast */
    max-width: 700px;
}



@media (min-width:1024px){
    h2{
        font-size: clamp(24px, 6vw, 30px);
    }
    
}


@media (min-width:768px) and (max-width:1500px){
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 3 equal-width columns */
    }
}


@media (max-width:768px){
    .grid-container {
        gap: 0; /* Optional spacing between grid items */
        padding-left:0;
        padding-right:0;
        grid-template-columns: repeat(1, 1fr); /* 3 equal-width columns */
    }

    h2 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }
}