/* Style for the Why Us section */
.why-us-section {
    position: relative;
    width: 100%;
    background:rgb(231, 229, 229); /* Gradient from yellow to dark yellow/gold */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    color: darkgray; /* Text color */
    text-align: center;
    overflow: hidden; /* Ensure content doesn't overflow */
    min-height: 200px;
  }
  
  /* Container to limit the width of the content */
  .why-us-container {
    position: relative;
    z-index: 2; /* Ensures the text stays above the background */
  }
  
  /* Styling for the heading */
  .why-us-section h2 {
    color: #233F63; /* Darker color for the header */
    text-align: center; /* Ensure the title is centered horizontally */
  }
  
  /* Body message styling */
  .why-us-section p {
    max-width: 700px;
  }
  
    /* wide screen */
    @media (min-width: 1200px) {

      .why-us-section {
          height: 40vh;
      }
    }

     /* wide screen */
     @media (max-width: 1200px) {
        
        .why-us-section {
            height: 35vh;
        }

    }

     /* wide screen */
     @media (max-width: 768px) {
       
        .why-us-section {
            height: 25vh;
        }

    }

     /* wide screen */
     @media (max-width: 480px) {
       
          .why-us-section {
            height: 30vh;
        }

    }

